*{
    margin:0;
    padding:0;
    font-size:62.5;
    box-sizing:border-box;
    text-transform: capitalize;
    transition: all .3s linear;

}
header{
    background-color:black;
    width: 100%;
    justify-content: space-between;
    z-index: 1000000;
    position: fixed;
    height: 90px;
}

.navber{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem;
    
   
}
.logo{
    font-size:3rem;
    color:white;
}
.logo span{
    color:#f43530;
}
nav ul{
    display:flex;
    align-items:center;
    list-style:none;
}
nav ul li{
    margin-right:2rem;
    text-decoration:none;
    font-style: none;

}
nav ul li a{
    font-size: 2rem;
    color:#fff;
    text-decoration: none!important;
    font-style: none;

}
nav ul li a:hover{
    color:#f43530;
}
.navber i{
    color:white;
    font-size:3rem;
    display: none;
}
.menu{
    display:none;
  
}

#home{
    width: 100%;
    height: 100vh;
    background-image: url(images/q.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
   
   
}
#home .container .row{
    margin-top: 20%;
    color:white;
    font-weight:700;
    font-family: arial;
    line-height: 10px;
    display: flex;

}
#home .container .row span{
    color:#f43530;
    font-style:italic;
}
#home .container .row h1{
    font-size: 4rem;
    font-weight: 1000;
}
#home .container .row button{
    background-color: #CA003A;
    color: white;
    width:100PX;
    border-radius: 30px;
}
#home .container .row .ani{
    animation: ani01 2s linear infinite;
}@keyframes ani01{
    0%{
      transform: rotate3d(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  @media (max-width:974px){

    .nav-item{
        height: 100vh;
        width:75%;
        position: fixed;
        background-color:black;
        top:0;right:-120%;
        text-align: center;
   
    }

    .logo{
    padding-left: 3rem!important;
    padding-top: 3rem!important;
    float: left!important;
    margin-bottom: 1rem;
}

.navber{
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0rem 0rem;
   
}
    nav ul{
        display: inline-block;
        margin-top: 30px;
    }
    nav ul li{
        margin: 20px;
    }
    nav ul li a{
        margin-top: 20PX;
    }
    #home .container .row h1{
        font-size: 2.5rem;
        font-weight: 40;
        z-index: -10000;
        margin-left: 50px!important;
    } 
    #home .container .row h3{
        font-size: 1.8rem;
        font-weight: 300;
        z-index: 0;
        margin-left: 50px!important;
    }
    #home .container .row h4{
        font-size: 1.2rem;
        font-weight: 300;
        z-index: 0;
        margin-left: 50px!important;
    }
    .navber .fa-bars{
        color:white;
        font-size:2rem;
        margin-right: 3rem;
        display: block;
        z-index: 100000;
        position: absolute;
        right: 2rem;
        top:4rem
        
    }
    .navber .fa-times{
        color:white;
        font-size:2rem;
        margin-right: 3rem;
        display: none;
        z-index: 100000;
        position: absolute;
        right: 2rem;
        top:2rem
        
    }
#home .container .row button{
    margin: 3rem 7rem;
}
#home .container .row .ani{
    margin: 2rem 6rem;
}
#home .container .row{
    margin-top: 30%;
    color:white;
    font-weight:400;
    font-family: arial;

}
#home .container .row{
    position: absolute;
}
.menu{
    display: block;
    
}
.second-close{
    display: none;
}
.navber .fa-bars {
    transform:rotate(-180deg);}
    .home1:focus~.nav-item,input:valid~.nav-item{
        font-size: 1.6rem;
        left: 6%;
        color:#ff3300;
        top:-0rem;
    }
  }
  .sticky{
      background-color: #CA003A;

  }
 .sticky .logo span{
     color: black;
 }
 .sticky li a:hover{
     color:yellow;
 }
  /*about start*/
    #about{
        height:auto;
        width:100%;
        padding-bottom: 100px;


    }
    #about .container{
              margin-top: 60px;
    }
    .col-md-5.images {
        height: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .col-md-5.images img{
         height:100%;
     }
     #about .container .col-md-7{
         height: 100%;
       
     }
     #about .container .col-md-7 h2{
         font-size: 3rem;
        font-weight: 600;
     }
     #about .container .col-md-7 span{
                font-style:italic;
                color: #CA003A;
     }
     #about .container .col-md-7 p{
         font-size: 1.7rem;
         font-family: sans-serif;
         font-style: initial;
         font-weight: 500;
     }
     #about .container .col-md-7 button{
        background-color: #CA003A;
        color: white;
        width:150PX;
        height: 40px;
        border-radius: 30px;}
     #about .container .desh{
        color: #CA003A;
        width: 80px;
        
     }
     center{
         height: 100px;
     }
    center  h1{
        font-size: 4rem;
        font-weight: 700;
        position: relative;
        align-items: center;
       
    }
    center  h1::before{
        content: "";
        position: absolute;
        left:50%;
        bottom: -15px;
        width: 180px;
        height: 3px;
        background-color:#CA003A;
        transform: translateX(-50%);
 
   
}
center  h1::after{
    content: "who i am";
    font-size: 20px;
    position: absolute;
     left:50%;
    bottom:-21px;
    height: 20px;
    background: white;
    z-index: 10000;
    transform: translateX(-50%);


}
    @media(max-width:974px){
        #about{
            height:auto;
            padding-bottom: 50px;
            width:100%;
          
    
    
        }
        center  h1{
            font-size: 3rem;
            font-weight: 700;
            
        }
        #about .container .col-md-7 h2{
            font-size: 2.5rem;
            font-weight: 600;
          

           
        }
     
        #about .container .col-md-7 p{
            font-size: 1.5rem;
            font-family: sans-serif;
            font-style: initial;
            font-weight: 500;
        }
    #about .container .col-md-7 button{
        width: 100px;
  
    }

       }
     /*  servicea start*/
     #services{
          width:100%;
          height: auto;
          background-color: black;
    }
    #services .container{
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    #services .container.row{
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
      
    }
    .col-lg-4.col-md-6 {
        margin-top: 20PX;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 100px;
    }
    .service-col{
        width: 100%;
        background-color: #323233;
        text-align: center;
        height:35rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        border-radius:5%;
      color:white;
        
    }
    .service-col:hover{
        background-color: #CA003A;
        transform:scale(.9);
    }
    .service-col:hover.service-col i{
             color: white!important;
       
    }
    .service-col i{
        font-size: 4rem;
        color:#CA003A
    }
   .service-col i:hover{
       color:white;
   }
 
    #services .container span{
                    padding-top: 100px;
                    font-size: 4rem;
                    color: white;
                    font-weight: 700;
                    position: relative;
                 
            }
    #services .container span::before{
        content: "";
        position: absolute;
        left:50%;
        bottom: -15px;
        width: 180px;
        height: 3px;
        background-color:#CA003A;
        transform: translateX(-50%);
    }
    @media(max-width:974px){
        #services .container.row{
            margin-top: 100px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        #services .container span{
            font-size: 3rem;
            font-weight:600;
        }
        .service-col h2{
                      font-size:2rem;
        }
        .service-col i{
            font-size: 3rem;
        }
    }
    #skill{
        width:100%;
        height:auto;
        background-color:#000000d4;
    }
    #skill .container{
        padding-top: 100px;
        
    }
    #skill .container center{
        color:white;
        font-size: 4rem;
        position: relative;
    }
    #skill .container center:before{
        content: "";
        position: absolute;
        left:50%;
        bottom:30px;
        width: 180px;
        height: 3px;
        background-color:#CA003A;
        transform: translateX(-50%);
 
    }
    #skill .container center:after{
        content: "what i know";
        font-size: 20px;
        position: absolute;
         left:50%;
        bottom:25px;
        height: 20px;
        background:#2B2B2B;
        z-index: 10000;
        transform: translateX(-50%);;
 
    }
    .skill-div1{
        color:white;
        margin-top: 50PX;
        padding-bottom: 40px;

       
    }
    .skill-div1 h2{
        padding-bottom:40px;


    }
    .skill-div1 p{
        line-height: 20px;
        font-size: 1.5rem;
    
        
    }
    .skill-div1 button{
        width: 150px;
        color:white;
        text-align: center;
        border-radius:30px;
        background-color: #CA003A;
        height: 40px;
        margin-top:30px;

    }
.skill-div2{
       height:500px;
       display: flex;
       flex-wrap: wrap;
       flex-flow:column;
      

}
.skill-div2 ul {
  margin-top:20px;
  margin-left: 5px;
  text-decoration: none;
  font-style: none;
}
.skill-div2 ul li{
    text-decoration: none!important;
    color:white;
    margin-top: 20px;
    font-size:2rem;
    list-style: none;
    position:relative;
    z-index:1000;
}
.skill-div2 ul li:before{
      content:"";
      position:absolute;
      top:10px;
      left:100px;
      width:70%;
      height:15px;
      background-color:white;
}
.skill-div2 ul >li:nth-child(1)::after{
    content:"";
    position:absolute;
    top:10px;
    left:100px;
    width:0;
    height:15px;
    background-color:#CA003A;
    animation-name:anima1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;
}
.skill-div2 ul >li:nth-child(2)::after{
    content:"";
    position:absolute;
    top:10px;
    left:100px;
    width:0;
    height:15px;
    background-color:#CA003A;
    animation-name:anima2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;
}
.skill-div2 ul >li:nth-child(3)::after{
    content:"";
    position:absolute;
    top:10px;
    left:100px;
    width:0;
    height:15px;
    background-color:#CA003A;
    animation-name:anima3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;
}
.skill-div2 ul >li:nth-child(4)::after{
    content:"";
    position:absolute;
    top:10px;
    left:100px;
    width:0;
    height:15px;
    background-color:#CA003A;
    animation-name:anima4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;
}
.skill-div2 ul >li:nth-child(5)::after{
    content:"";
    position:absolute;
    top:10px;
    left:100px;
    width:0;
    height:15px;
    background-color:#CA003A;
    animation-name:anima5;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;
}
.skill-div2 ul >li:nth-child(6)::after{
    content:"";
    position:absolute;
    top:10px;
    left:100px;
    width:0;
    height:15px;
    background-color:#CA003A;
    animation-name:anima6;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;
}
@keyframes anima1{
0%{width:0;}
100%{width:60%}
}
@keyframes anima2{
    0%{width:0;}
    100%{width:50%}
    }
    @keyframes anima3{
        0%{width:0;}
        100%{width:50%}
        }
        @keyframes anima4{
            0%{width:0;}
            100%{width:30%}
            }
            @keyframes anima5{
                0%{width:0;}
                100%{width:20%}
                }
                @keyframes anima6{
                    0%{width:0;}
                    100%{width:35%}
                    }
  @media (max-width:974px){
    #skill .container center{
        color:white;
        font-size: 3rem;
        position: relative;
    }
    #skill .container center:after{
        font-size: 16px;
    }
    .skill-div1 h2{
        font-size:2.5rem;
        padding-bottom: 10px;
    }
    .skill-div1 p{
        font-size: 14px;
    }
    .skill-div1 button{
          width:100px ;
          border: none;
    }
  }    
     /* my_ section start */
     #my-team{
         width:100%;
         height:auto;
         background-color:black;
     }
     #my-team .container{
        padding-top: 100px;
        align-items: center;
        justify-content: center;
        flex-flow: column;
     }
     #my-team .row{
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 100px!important;
        margin-left:0px;
     } 
     #my-team .row .col-md-4{
         width:100%;
         background-color:#323233;
         text-align: center;
         display: flex;
         flex-flow: column;
         align-items: center;
         color:WHITE;
         padding-top: 30px;
         border-radius: 5%;
         margin-top: 100px;
         padding-bottom: 30px;
         
     }
     #my-team .row .col-md-4:hover{
         background-color: #CA003A;
     }
     #my-team .row .col-md-4:hover button{
         background-color: black;
     }
     #my-team .row .col-md-4:hover img{
              border: black;
     }
     #my-team .row .col-md-4 div{
         height: 100px;
         width: 100px;
         background-color: #323233;
        
     }
  
     #my-team .row .col-md-4 div img{
         width: 100%;
         height: 100%;
         border-radius: 100%;
         
     }
     #my-team center{
         color:WHITE;
         padding-top: 50px;
         font-size: 4rem;
         font-weight: 800;
         position:relative;
     }
     #my-team center::before{
         content:"";
         top:120px;
         left:50%;
         position: absolute;
         width:250px;
         height: 3px;
         background-color: #CA003A;
         transform: translateX(-50%);

     }
     #my-team center::after{
        content:"who's works ";
        top:105px;
        left:50%;
        font-weight: 300;
        font-size: 20px;
        position: absolute;
        background-color: black;
        transform: translateX(-50%);

    }
     #my-team button{
         width: 120px;
         height: 35px;
         background-color: #CA003A;
         text-align: center;
         border: none;
         border-radius:30px;
     
     }
  /* contract start  */
  #contract {
      width:100%;
      height:auto;
   
  }
  /* #contract ::before{
      content:"";
      top:0;
      left:0;
      width: 50%;
      height:100%;
      background-color: white;
      position:absolute;
      clip-path:circle(100% at 0% 50%);


  } */
  #contract .container{
      display: flex;
      align-items: center;
      flex-flow:column;
   


  }
  #contract .container h1{
      color:black;
      margin-left: 20px;
  }
  #contract .container center  h1::after{
    content: "touch me";
    font-size: 20px;
    position: absolute;
     left:50%;
    bottom:-21px;
    height: 20px;
    background: white;
    z-index: 10000;
    transform: translateX(-50%);


}
#contract .container .row{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;

}
.contract-col1{
    background-image:url(images/dark-bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    clip-path:circle(100% at 0% 50%);
}
.contract-col1 h3{
    color:white;
    font-weight:600;
    font-size:2.5rem;
}
.contract-col1 .p{
    color:white;
    width: 80%;
    font-size: 16px;
    font-style: italic;
}
.contract-col1 p{
    color:white;
    font-size: 16px;
    font-style: italic;
}
.contract-col1 b{
    color:white;
    font-size:1.5rem;
}
.contact-icone{
  display: flex;
  margin-top: 30px;

 
}
.contact-icone i{
      font-size: 3rem;
      color:#CA003A;
}
.i-p{
    margin-left:20px
}
.contract-2{
    margin-bottom: 50px;
}
#contract .name-email{
    width: 100%;


}
#contract input{
    height: 30px;
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    padding-left:10px ;
    border: none;
    border-radius: 30px;
    overflow: hidden;
    background-color: black;
}
#contract .name-email input{
    height: 30px;
    width: 40%;
    margin-left: 20px;
    padding-left:10px ;
    border: none;
    border-radius: 30px;
    overflow: hidden;
    background-color: black;
}
#contract textarea{
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
    padding:10px ;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background-color: black;
}
#contract input{
    color:white;
}
#contract textarea{
    color:white;
}
#contract button{
    width: 120px;
    padding:10px;
    color:white;
    background-color: #CA003A;
    border-radius: 30px;
    border:none;
    margin-left:20px;
    margin-top:20px;
}
footer{
    width: 100%;
    height: auto;
    background-color: black;
    color:white;
  


}
/* #footer::before{
    content: "";
    top:40px;
    right:20px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #CA003A;
} */
footer center
{    padding-top: 40px;
    font-size: 1.8rem;
   
}
